<h3>Graphic Design Portfolio</h3>



<div class="simple-article-header">
  <!-- Article Published Date & Reading Time -->
  <p class="article-date-read">Published on: 15 december, 2020 - 3 min read</p>
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
      photography in Europe
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->
  <p class="article-author-comments">
    <em>by <a href="#">Adrian De la Cruz </a></em> -
    <a class="article-comments" href="#">100 Comments</a>
  </p>

  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.0-9/29313664_1597247116979302_6265820740369514496_n.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_ohc=T3dF8BrU2g4AX_NmDAd&_nc_ht=scontent-lga3-2.xx&oh=6b0424a2b58999ff8a7af692a27f04e1&oe=5FFF4FDE">
    </div>
  </div>
  

  <!-- Article Post Content -->
  <div class="article-post-content">
    <p>I am currently attending at Queensborough Community College. I am working toward A.S in Digital Arts and Design. Sophomore student with 1-year experiences in the management of the complete design process Expert at interdepartmental coordination and communication. Skilled with Adobe Creative Suite (Illustrator, Photoshop, InDesign) and Microsoft Office Suite (Word, Excel and PowerPoint)</p>
  </div>

</div>

<!-- Importing images form graphic.json into graphic design page -->
  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>


